extends layout

block scripts
    script(src="/js/index.js")

block content
    h1 Haloo Consulting - Ohturef

    a.btn.add-btn(href="/new") Add new reference

    input#search(type="text" placeholder="Search")

    h2 Filter by tags
    section#tags
        if empty(tags)
            p No tags
        else
            each tag in tags
                button.btn.inline-btn(onclick='filterByTag("#{tag.name}")') #{tag.name}


    h2 Book references
    section#book-references
        if empty(references["book"])
            p No book references.
        else
            table
                tr
                    th Id
                    th Author
                    th Title
                    th Year
                    th Publisher
                    th Address
                    th Pages
                    th
                each line in references["book"]
                    tr.ref-row(data-search="#{line.id} #{line.author} #{line.title} #{line.year} #{line.publisher} #{line.address} #{line.pages}" data-tags="#{reftags[line.id]}")
                        td= line.id
                        td= line.author
                        td: a(href="/ref/#{line.id}") #{line.title}
                        td= line.year
                        td= line.publisher
                        td= line.address
                        td= line.pages
                        td: button.btn.inline-btn(onclick='deleteReference("#{line.id}")') Delete
        p.no-search-results.hidden No references matching search criteria.

    h2 Article references
    section#article-references
        if empty(references["article"])
            p No article references.
        else
            table
                tr
                    th Id
                    th Author
                    th Title
                    th Journal
                    th Volume
                    th Number
                    th Year
                    th Pages
                    th Publisher
                    th Address
                    th
                each line in references["article"]
                    tr.ref-row(data-search="#{line.id} #{line.author} #{line.title} #{line.journal} #{line.volume} #{line.number} #{line.year} #{line.pages} #{line.publisher} #{line.address}" data-tags="#{reftags[line.id]}")
                        td= line.id
                        td= line.author
                        td: a(href="/ref/#{line.id}") #{line.title}
                        td= line.journal
                        td= line.volume
                        td= line.number
                        td= line.year
                        td= line.pages
                        td= line.publisher
                        td= line.address
                        td: button.btn.inline-btn(onclick='deleteReference("#{line.id}")') Delete
        p.no-search-results.hidden No references matching search criteria.

    h2 Inproceedings references
    section#inproceedings-references
        if empty(references["inproceedings"])
            p No inproceedings references.
        else
            table
                tr
                    th Id
                    th Author
                    th Title
                    th Booktitle
                    th Year
                    th Pages
                    th Publisher
                    th Address
                    th
                each line in references["inproceedings"]
                    tr.ref-row(data-search="#{line.id} #{line.author} #{line.title} #{line.booktitle} #{line.year} #{line.pages} #{line.publisher} #{line.address}" data-tags="#{reftags[line.id]}")
                        td= line.id
                        td= line.author
                        td: a(href="/ref/#{line.id}") #{line.title}
                        td= line.booktitle
                        td= line.year
                        td= line.pages
                        td= line.publisher
                        td= line.address
                        td: button.btn.inline-btn(onclick='deleteReference("#{line.id}")') Delete
        p.no-search-results.hidden No references matching search criteria.

    h2 Export BibTeX
    section#bibtex-export
        button.btn.inline-btn#export Export BibTex
        a.btn(href="/bibtex" download="references.bibtex") Download as .bib
        textarea.hidden.bibtex-container#bibtex(rows="8", cols="60", readonly)

    h2 Import from ACM
    section#acm-import
        input.acm-url(type="text" placeholder="https://dl.acm.org/citation..." size="60")
        a.btn.inline-btn(href="#") Import

    script.
        $(document).ready(() => {
            $("#export").click(() => {
                $("#bibtex").load("/bibtex", () => $("#bibtex").removeClass("hidden"))
            });
        });
        function deleteReference(id) {
            $.ajax({
                url: '/ref/' + id,
                method: 'DELETE',
                success: function(result) {
                    location.reload()
                }
            });
        };