<!doctype HTML>
<html>
    <head>

    </head>
    <body>
        <div class="content">
            <h1>Hello, database!</h1>
            {{#each lines}}
                <li> {{ this.author }} <a href="/{{this.id}}">{{ this.title }}</a> {{ this.year }} {{ this.publisher }} {{ this.address }} {{ this.pages }} </li>
            {{/each}}
        </div>
    </body>
<html>