extends layout

block content
    h1 Haloo Consulting - Ohturef

    a.btn.add-btn(href="/new") Add new reference

    h2 Book references
    section#book-references
        if empty(references["book"])
            p No book references.
        else
            table
                tr
                    th Id
                    th Author
                    th Title
                    th Year
                    th Publisher
                    th Address
                    th Pages
                    th
                each line in references["book"]
                    tr
                        td= line.id
                        td= line.author
                        td: a(href="/#{line.id}") #{line.title}
                        td= line.year
                        td= line.publisher
                        td= line.address
                        td= line.pages
                        td: a(href="#") ×

    h2 Article references
    section#article-references
        if empty(references["article"])
            p No article references.
        else
            table
                tr
                    th Id
                    th Author
                    th Title
                    th Journal
                    th Volume
                    th Number
                    th Year
                    th Pages
                    th Publisher
                    th Address
                    th
                each line in references["article"]
                    tr
                        td= line.id
                        td= line.author
                        td: a(href="/#{line.id}") #{line.title}
                        td= line.journal
                        td= line.volume
                        td= line.number
                        td= line.year
                        td= line.pages
                        td= line.publisher
                        td= line.address
                        td: a(href="#") ×

    h2 Inproceedings references
    section#inproceedings-references
        if empty(references["inproceedings"])
            p No inproceedings references.
        else
            table
                tr
                    th Id
                    th Author
                    th Title
                    th Booktitle
                    th Year
                    th Pages
                    th Publisher
                    th Address
                    th
                each line in references["inproceedings"]
                    tr
                        td= line.id
                        td= line.author
                        td: a(href="/#{line.id}") #{line.title}
                        td= line.booktitle
                        td= line.year
                        td= line.pages
                        td= line.publisher
                        td= line.address
                        td: a(href="#") ×

    h2 Export BibTeX
    section#bibtex-export
        button.btn.inline-btn#export Export BibTex
        a.btn(href="/bibtex" download="references.bibtex") Download as .bib
        textarea.hidden.bibtex-container#bibtex(rows="8", cols="60", readonly)

    h2 Import from ACM
    section#acm-import
        input.acm-url(type="text" placeholder="https://dl.acm.org/citation..." size="60")
        a.btn.inline-btn(href="#") Import

    script.
        $(document).ready(() => {
            $("#export").click(() => {
                $("#bibtex").load("/bibtex", () => $("#bibtex").removeClass("hidden"))
            });
        });
