extends layout

block content
    h1= reference.title
    a(href="/") ◀ Return to listing

    h3 Reference info
    section#reference
        table
            tr
                td Id
                td= reference.id
            tr
                td Author
                td= reference.author
            if reference.booktitle
                tr
                    td Book title
                    td= reference.booktitle
            tr
                td Year
                td= reference.year
            if reference.publisher
                tr
                    td Publisher
                    td= reference.publisher
            if reference.address
                tr
                    td Address
                    td= reference.address
            if reference.journal
                tr
                    td Journal
                    td= reference.journal
            if reference.volume
                tr
                    td Volume
                    td= reference.volume
            if reference.number
                tr
                    td Number
                    td= reference.number
            if reference.pages
                tr
                    td Pages
                    td= reference.pages

    button.btn#export Export BibTex

    textarea.hidden.bibtex-container#bibtex(rows="8", cols="60", readonly)

    h3 Reference tags
    section#reference-tags
        if empty(reference.tags)
            p No reference tags
        else
            table
                tr
                    th Tags
                each line in reference.tags
                    tr
                        td= line.tags

    h3 Add tag
    section#tag-addition
        form(action="/ref/#{reference.id}/tag", method="POST")
            input#tag(name="tag" type="text" placeholder="Type your tag here" size="60")
            input.btn.inline-btn(type="submit", value="Add")

    script.
        $(document).ready(() => {
            $("#export").click(() => {
                $("#bibtex").load(location.pathname + "/bibtex", () => $("#bibtex").removeClass("hidden"))
            });
        });
